@tailwind base;
@tailwind components;
@tailwind utilities;

:root{
    font-family: "Montserrat", system-ui, Avenir, Helvetica, Arial, sans-serif;
    font-size: 0.9rem;
}

.font-montserrat-black {
    font-family: "Montserrat Black", system-ui, Avenir, Helvetica, Arial, sans-serif;
}